body {
    display: flex;
}

.container {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.input, .gameplay, .rows, .row, .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    flex: 1;
    background-color: green;
    padding: 30px;
}

.guess {
    width: 300px;
    padding: 20px;
}

.game {
    flex: 4;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.topbar {
    flex: 1;
    background-color: red;
}


.gameplay {
    flex: 9;
    background-color: aquamarine;
    flex-direction: row;
}

.rows {
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 40px;
    background-color: beige;
}

.row {
    width: 900px;
    height: 250px;
    gap: 20px;
    background-color: brown;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: blueviolet;
}